.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body{
  background-color: aquamarine;
}
.tab-bg{
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
}

table thead tr td{
  font-size: 24px;
  font-weight: bolder;
  padding: 5px;
  border: 2px solid black;
}
table tbody tr td{
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.756);
}
.dynamic{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.516);
  padding: 25px 40px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px black;

}
.dynamic input{
  font-size: 18px;
  background-color: aliceblue;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
.dynamic-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bio{
  background-color: transparent;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
}
.select-div{
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
select{
  font-size: 18px;
  padding: 5px;
  background-color: transparent;
}